// 2014-12-29: This test creates a deep recursion, hinting at a problem
// in the grammar.
// This is now fixed, but parses quite slowly.
div:
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%
	.by-2 > * :
		float: left
		width: 50%

	.by-3 > * :
		float: left
		width: 33.331%

	.by-4 > * :
		float: left
		width: 25%

	.by-5 > * :
		float: left
		width: 20%

	.by-6 > * :
		float: left
		width: 16.667%

	.by-7 > * :
		float: left
		width: 14.285%

	.by-8 > * :
		float: left
		width: 12.5%

// EOF
